main{
    margin: 32px 160px;
}
body{
    font-family: Inter;
}
.container-header{
    display: flex;
    height: 72px;
    padding: 14px 160px 14px 160px;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #EAECF0;
  
}
.var-categories{
    display:flex;
    gap: 80px;
}
.variant{
    display: flex;
    gap: 16px;
    align-items: center;
}
.variant p{
    font-size: 24px;
    font-weight: 600;
    line-height: 32px;
    text-align: left;
    color: #354153;
}
.categories{
    display: flex;
    gap: 40px;
    align-items: center;
}
.categories p{
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    text-align: left;
    color: #0D1421;
}
.user{
    width: 44px;
    height: 44px;
}
.user button{
    width: 44px;
    height: 44px;
    background-color: white;
    border: none;
}
.filters{
    display: flex;
    justify-content: space-between;
    
}
.filters-buttons{
    display: flex;
    width: 350px;
    justify-content: space-between;
}

.choice{
    width: 92px;
    height: 40px;
    padding: 10px 16px 10px 16px;
    gap: 8px;
    border-radius: 8px;
    opacity: 0px;
    background-color: #0D1421;
    border: none;
    font-size: 14px;
    color: white;
}
.not-choice{
    width: 62px;
    height: 40px;
    padding: 10px 16px 10px 16px;
    gap: 8px;
    border-radius: 8px;
    opacity: 0px;
    border: 1px solid #EAECF0;
    background-color: white;
}


