main{
    margin: 32px 160px;
}
body{
    font-family: Inter;
}
.container-header{
    display: flex;
    height: 72px;
    padding: 14px 160px 14px 160px;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #EAECF0;
  
}
.var-categories{
    display:flex;
    gap: 80px;
}
.variant{
    display: flex;
    gap: 16px;
    align-items: center;
}
.variant p{
    font-size: 24px;
    font-weight: 600;
    line-height: 32px;
    text-align: left;
    color: #354153;
}
.categories{
    display: flex;
    gap: 40px;
    align-items: center;
}
.categories p{
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    text-align: left;
    color: #0D1421;
}
.user{
    width: 44px;
    height: 44px;
}
.user button{
    width: 44px;
    height: 44px;
    background-color: white;
    border: none;
}
.filters{
    display: flex;
    justify-content: space-between;
    margin: 20px;
}
.filters-buttons{
    display: flex;
    width: 350px;
    justify-content: space-between;
}

.choice{
    width: 92px;
    height: 40px;
    padding: 10px 16px 10px 16px;
    gap: 8px;
    border-radius: 8px;
    background-color: #0D1421;
    border: none;
    font-size: 14px;
    color: white;
    font-weight: 550;
}
.not-choice{
    width: 62px;
    height: 40px;
    padding: 10px 16px 10px 16px;
    gap: 8px;
    border-radius: 8px;
    color: #354153;
    font-weight: 550;
    border: 1px solid #EAECF0;
    background-color: white;
}
.filter-select{
    width: 163px;
    overflow: hidden;
    padding-right: 0px;
    background: url("images/downArrow.png") no-repeat right #fff;
    background-position-x: calc(100% - 8px);
}
.options{
    height: 100%;
    width: 100%;
    font-size: 16px;
    appearance: none;
    background: transparent;
    border: 1px solid #EAECF0;
    border-radius: 8px;
    padding: 10px;
    color: #354153;
    font-weight: 550;
}
option{
    color: #354153;
    font-weight: 400;
}
.files{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.file{
    border:  1px solid #EAECF0;
    border-radius: 8px;
    width: 500px;
    display: flex;
    margin: 20px 0px;
    align-items: center;

}
.name-file {
    font-size: 18px;
}
.description-file-author{
    font-size: 14px;
}
.description-file-edit{
    font-size: 14px;
}